@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: #FBFEF9;

    --secondary-color: #E4E6C3;

    --text-color: black;

    --accent-color1: #F39237;
    --accent-color2: #BF1363;
    --accent-color3: #0E79B2;

    --margin: 27%;

    --transparent: rgba(255, 255, 255, 0);

    --cv1: #AD794F;
    --cv2: #865934;

    --arb1: #FFC400;

    --transition-duration: 200ms;
}

.darkmode {
    --primary-color: #191923;

    --secondary-color: #121113;

    --text-color: white;

}

#theme-switch {
    height: 50px;
    width: 50px;

    padding: 0;

    border-radius: 50%;

    background-color: var(--accent-color1);

    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;

    top: 20px;
    right: 20px;

    cursor: pointer;

    svg:last-child {
        display: none;
    }
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

.darkmode img {
    filter: invert(100%) hue-rotate(180deg);
}


a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    margin: 15px;
    margin-left: var(--margin);
    margin-right: var(--margin);

    font-family: 'Ubuntu';

    color: var(--text-color);

    background: #2A7B9B;
    background: linear-gradient(130deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10%;
    padding-bottom: 20%;

}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    margin-bottom: 20%;

    }

.content-box {
    background-color: var(--primary-color);

    height: 150px;

    border-radius: 20px;
    border: 1px solid gray;

    padding: 10px;

    display: flex;
    flex-direction: column;

    span {
        font-size: small;
        color: color-mix(in srgb, var(--text-color) 70%, black)
    }

    .icon-box {
        background-color: gray;

        width: fit-content;
        height: fit-content;

        display: flex;

        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;

        /*border: 1px solid;*/
        border-radius: 12px;
        /*border-color: gray;*/

        img {
            width: 48px;
        }

        transition-duration: var(--transition-duration);
    }

    .icon-box-no-background {
        background-color: var(--transparent);
        border-color: var(--transparent);
    }
    
    transition-duration: var(--transition-duration);
}

.darkmode .content-box:hover {

    filter: brightness(150%);

    transform: scale(102%);

    .icon-box {
        transform: rotate(12deg);
    }

    transition-duration: var(--transition-duration);
}

.content-box:hover {

    filter: brightness(80%);

    transform: scale(102%);

    .icon-box {
        transform: rotate(12deg);
    }

    transition-duration: var(--transition-duration);
}

 .darkmode .cv {
    grid-area: 1 / 1 / 2 / 3;

    border-color: var(--cv1);
    border-bottom-right-radius: 0;

    .icon-box {
        background-color: color-mix(in srgb, var(--cv1) 70%, black);
    }
}

.darkmode .arb {
    grid-area: 1 / 3 / 2 / 4;

    border-color: var(--arb1);
    border-bottom-left-radius: 0;

    .icon-box {
        background-color: color-mix(in srgb, var(--arb1) 60%, black);
    }
}

.darkmode .private {
    grid-area: 2 / 1 / 3 / 2;

    border-color: var(--accent-color2);

    .icon-box {
        background-color: color-mix(in srgb, var(--accent-color2) 60%, black);
    }
}

.cv {
    grid-area: 1 / 1 / 2 / 3;

    border-color: var(--cv1);
    border-bottom-right-radius: 0;

    .icon-box {
        background-color: color-mix(in srgb, var(--cv1) 70%, darkgray);
    }
}

.arb {
    grid-area: 1 / 3 / 2 / 4;

    border-color: var(--arb1);
    border-bottom-left-radius: 0;

    .icon-box {
        background-color: color-mix(in srgb, var(--arb1) 60%, darkgray);
    }
}

.private {
    grid-area: 2 / 1 / 3 / 2;

    border-color: var(--accent-color2);

    .icon-box {
        background-color: color-mix(in srgb, var(--accent-color2) 60%, darkgray);
    }
}

.linkedin {
    grid-area: 2 / 2 / 3 / 3;

    border-color: var(--accent-color3);
    border-top-right-radius: 0;


}

.github {
    grid-area: 2 / 3 / 3 / 4;

    border-top-left-radius: 0;
}


footer {
    padding: 10px;

    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;

    img {
        width: 20px;

        vertical-align: bottom;
    }
}